// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5%; 1rem = 10px.
}

body {
  color: $color-grey-dark-2;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  /*  GRID ROW LOGIC: 
 grid-template-rows: 1st row 80vh - adaptive to viewport height;
    2nd row min-content adaptive to content and will grow in height automatically as
    our goal of this section is to contain all content;
    3rd row is adaptive to viewport width 40vw;
    4th + rows repeat(3, min-content);
    */
  // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-rows: repeat(2, min-content) 40vw repeat(3, min-content);

  /*  GRID COLUMN LOGIC:
    -   Decision of 8 columns accepted as for simple grid;
    -   First column (sidebar) is fixed adn set to 8rem;
    -   Reasonable viewport width is something about 1140px;
    -   1140 / 8 = 142.5px => trunc it to 14rem;
    -   Simply setting the width to 14rem does'n make ght grid adaptive;
    -   So, set minmax to min = min-content, and max = 14rem;
    -   The remaining space on wider than 1140px screens is set by 2 columns 1fr each   
    */
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(
      6rem,
      1fr
    ) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(
      6rem,
      1fr
    ) [full-end];

  & > * {
    font-size: 2rem;
  }
}
