.features {
    grid-column: center-start / center-end;
    // grid-row: 2 / 3;
    align-items: start; //align content up to top of the grid-cell
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    
    @media only screen and (max-width: 57.25em) {
        margin: 7rem 0;
        grid-gap: 5rem;
     }
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__text {
        font-size: 1.7rem;
        // grid-column: 2 / 3;
    }

    &__icon {
        width: 4.5rem;
        height: 4.5rem;
        fill: $color-primary;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }
}