.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    // grid-row: 6 / 7;
    padding: 8rem;

    @media only screen and (max-width: 57.25em) {
        padding: 4rem 8rem;
    }
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 1.3rem;
    align-items: center;
    list-style: none;

    @media only screen and (max-width: 57.25em) {
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    }

    


    &__item {
        text-align: center;
    }
    
    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        padding: auto;
        display: inline-block;
        transition: all .2s;
    }
    
    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
    }
    
    &__link:hover {
        transform: translateY(-3px);        
    }
    
    &__link:active {
        transform: translateY(0);        
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    text-align: center;
    width: 70%;
    margin: 6rem auto 0;

    @media only screen and (max-width: 57.25em) {
       margin-top: 4rem;
    }
}