.header {
    grid-column: full-start / col-end 6;
    // grid-row: 1 / 2;
    background-image: linear-gradient(rgba($color-secondary, .9), rgba($color-secondary, .9)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 4rem 6rem 8rem;

    display: grid;
    grid-row-gap: 1.5rem;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;

    @media only screen and (max-width: 52.875em) {
        grid-column: 1 / -1;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        place-self: start;

        @media only screen and (max-width: 52.875em) {
            margin: 5rem 0 3rem;
        }
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        grid-column-gap: 1.5rem;

        // text-align: center;
        font-size: 1.6rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 1px;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;

        & img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: opacity(70%);
        }
    }
}