.story {
    // grid-row: 3 / 4;

    &__pictures {
        grid-column: full-start / col-end 4;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)),
            url(../img/back.jpg);
            background-size: cover;

        @media only screen and (max-width: 52.875em) {
            grid-column: 1 / -1;
        }
    }

    &__img--1 {
        width: 100%;
        grid-row: 2 / 6;
        grid-column: 2 / 6;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, .1);

        @media only screen and (max-width: 52.875em) {
            height: auto;
            width: 70%;
        }
    }

    &__img--2 {
        width: 115%;
        grid-row: 4 / 6;
        grid-column: 4 / 7;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, .2);
        z-index: 1;

        @media only screen and (max-width: 52.875em) {
            width: 90%;
            grid-row: 4 / 6;
        }
    }


    &__content {
        grid-column: col-start 5 / full-end;

        background-color: $color-grey-light-1;
        padding: 6rem 8vw;
        padding-left: 11rem;
        
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: center;
        display: grid;
        align-content: center;
        justify-items: start;
        
        @media only screen and (max-width: 52.875em) {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
            padding: 5rem 9vw;
        }
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}